<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UI-Automation-EndToEnd" parallel="false">
<listeners>
    <listener class-name="com.uiautomation.testcases.base.TestBase"></listener>
</listeners>

    <test name="UI-Automation">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="com.uiautomation.testcases.LoginTest"/>

        </classes>
    </test>
</suite>